# Yarn
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
node_modules/

# TypeScript
dist/

# Server-side logs
logs/

# Development & test environment variables
development.env
test.env
